@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@media (min-width:760px) {
@keyframes bounce{
  from{
    transform: translateY(0px);
  }

  to{
    transform:translateY(-10px)
  }
}
.Ocont{
  padding:0px;
  margin:0px;
  font-family:'Ubuntu Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url("fimage2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}
body{
  font-family:'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.cont1{
  padding-top: 1rem;
  background-color: rgb(92, 60, 2);
  height: 10dvh;
  color:white;
  position:relative;
  font-size:22px;
}

.cont2{
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Greet{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
h1{
  font-size: larger;
}
.Validation{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:30rem;
  height:75%;
  
}
.Logform{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:78%;
  width:80%;
  background-color: rgb(92, 60, 2);
  padding-top: 2rem;
  color:white;
  filter:opacity(94%);
  border-radius: 22px;
  position: relative;
  
}
.Signform{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:94%;
  width:80%;
  background-color: rgb(92, 60, 2);
  padding-top: 2rem;
  color:white;
  filter:opacity(94%);
  border-radius: 22px;
  position: relative;
  
}
.fplink{
  position: absolute;
  bottom:6.9rem;
  border-bottom: 1px solid white;
  font-size: 0.91rem;
}
.fplink:hover{
  filter: brightness(70%);
  transition: .3 ease-in;
}
.signupL:hover{
  filter: brightness(70%);
  transition: .3 ease-in;
}

.contInp{
  position: absolute;
  top:6.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.4rem;
  width:100%;
}
h2{
  color:rgb(234, 55, 55);
  font-size: 0.9rem;
  font-family: 'Raleway';
  padding-bottom:0px;
}
.contInts{
  position: absolute;
  top:4.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1.0rem;
  width:100%;
}
.signupL{
  position: absolute;
  border-bottom: 1px solid white;
  bottom:1rem;
  font-size: 0.8rem;
}
.contInp div{
  width:63%;
}
.lognote{
 font-weight: 300;
 font-size:22px;
 color:white;
 position: absolute;
 top:16px;
}
.logsub{
  background-color: black;
  border-radius: 5px;
  position: absolute;
  bottom:4rem;
  width:39%;
  height:35px;
  cursor: pointer;
  transition: .29s;
  
}
.logsub:hover{
  color:black;
  /*animation: bounce 0.2s ease-out 1s;*/ 
  background-color: rgb(128, 123, 123);
}

.input{
  text-align: center;
  border:none;
  width:100%;
  outline: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}
.regsub{
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  position: absolute;
  bottom:3.4rem;
  width:29%;
  height:35px;
  cursor: pointer;
  transition: 0.6s ;
  margin:7px;
}
.regsub:hover{
  color:black;
  background-color: rgb(255, 255, 255);
}
.loginL{
  position: absolute;
  bottom:1rem;
}
.genCont{
  display: flex;
  justify-content: center;
}
.barsCont{
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  height:50px;
  padding:5px;
  font-size: 1.45rem;
  color:rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  background-color: rgba(60, 12, 67, 0.516);
  width:100%;
}

.navB{
  list-style: none;
  display: flex;
  gap:2rem;
}
.hnav{
  display: none;
}
.sidesB{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:.2.6rem;
  font-size: 1rem;
  height: 50dvh;
  padding-top:20px;
  z-index: 999;
  color: white;
  cursor: pointer;
  top:0px;
  left:0px;
  position:fixed;
  width:35%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.285);
}
.sidesB li{
  width:100%;
  display: flex;
  justify-content: center;
  height:16%;
  
}
.sidesB li:hover{
  transition:.2s ease-in;
  filter: brightness(60%);
}
.sideB{
  display: none;
}
.navsideb{
 display: flex;
 gap:2.9rem;
 font-size: 1.24rem;
 justify-content: center;
 
}
.navsideb li{
  font-size: 1rem;
}
.navsideb h3{
  margin-right: 8.7rem;
  font-size: 1.36rem;
}
.navsideb li:hover{
  cursor: pointer;
  filter: brightness(70%);
  transition: 0.27s ease-in;
}
.navsideb:first-child:hover{
  cursor: pointer;
}
.closeMB{
  position: absolute;
  left:4%;
  top:-26px;
  font-size: 29px;

}
.HeaderMB:hover{
  transition:.2s ease-in;
  filter: brightness(70%);

}
.HeaderMB{
  position: relative;
  width:100%;
  display: flex;
  justify-content: center;
  margin-bottom:0.5rem;
  cursor:pointer;

}
.acctCont{
  height: 100dvh;
  align-items: center;
  background-image: url("darkW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
.aconts{
  display: flex;
  justify-content: center;
  align-items: center;
  height:80dvh;
}
.personalinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding:1.3rem;
  height: fit-content;
  width:30rem;
  background-color: rgb(33, 9, 33);
  filter:opacity(84%);
  color:white;
  gap:1.4rem;
  border-radius: 0.85rem;
 
}
.personalinfo input{
  color:white;
  background-color: rgb(50, 50, 50);
  outline: none;
  height:2.4rem;
  width:100%;
  padding:1.2rem;
  
}
.personalinfo div{
  padding:0.25rem;
  color:white;
  width:80%;
 
}
.homebody{
  background-image: url("darkW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
}
.contInts div{
  width:85%;
 }
 .userType{
  background-color: green;
  width: 60%;
  padding:0.5rem;
  display: flex;
 }
.package{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  height: 100dvh;
  padding:1.2rem;

}
.nopackage{
  color:white;
 filter: brightness(30%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border: 1px solid grey;
  height: 100%;
  width:75%;
  border-radius: 3%;
  filter:opacity(94%);
}
.packages{
  color:white;
  background-color: rgb(92, 60, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10;
  height: 100%;
  width:75%;
  border-radius: 10%;
  filter:opacity(94%);
  overflow: auto;
}
.chaveninfobtn{
  background-color: rgb(50, 50, 50);
  padding:0.6rem;
  width:100%;
  border-radius: 6px;
  transition: 0.4 ease-in;
}
.chaveninfobtn:hover{
  filter: brightness(150%);
  background-color: rgb(43, 43, 43);
}
.postsform{
  margin-top: 10rem;
  background-color: rgb(33, 9, 33);
  width:30rem;
  padding:1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  border-radius: 2rem;
}
.pcont1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nofoodpic{
  display: none;
}
.pbody{
  background-image: url("darkW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height:100dvh;
  overflow: auto;
}
.postsCont{
  display: flex;
  align-items: center;
  justify-content: center; 
  height: fit-content;
  width:100%;
  
}
.postshead{
  font-size: 1rem;
 margin-bottom: 1rem;
}
.pcont2{
  display: flex;
  gap:1.5rem;
}
.foodpic{
  width:fit-content;
  height: fit-content;
  margin-top:0.7rem;
}
.pcont2 button{
  margin-top: 1.4rem;
  padding:0.5rem;
  border-radius: 0.7rem;
}
.caption{
  width:100%;
  padding:0.7rem;
  height:3rem;
  color:black;
  
}

.nopro{
  display: none;
}
.yespro{
  border:none;
  width:30%;
  height:25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.cancpbtn{
  background-color: rgb(255, 0, 0);
}
.uploadpbtn{
  background-color: rgb(16, 120, 16);
}
.histCont{
  background-image: url("darkW.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100dvh;
}
.post1{
  display: flex;
  flex-direction: column;
  padding:1.5rem;
  width:30rem;
  background-color: rgb(33, 9, 33);
  filter: opacity(85%);
  border-radius: 2rem;
  height: fit-content;
}
.post1 h1{
  font-size: 0.87rem;
}
.post1 h2{
  color: rgb(157, 149, 149);
}
.post1 span{
  background-color: rgb(50, 50, 50);
  padding: 0.78rem;
  height: fit-content;
}
.commentsbtndiv{
  font-size: 0.93rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width:100%;
 
}
.commentsbtndiv button{
  background-color: rgb(61, 38, 60);
  padding:0.6rem;
  width:59%;
  cursor: pointer;
  transition:0.24s ease-out;
  border-radius: 2rem;
}
.commentsbtndiv button:hover{
  filter: brightness(170%);

}
}
@media (max-width:760px) {
  @keyframes bounce{
    from{
      transform: translateY(0px);
    }
  
    to{
      transform:translateY(-10px)
    }
  }
  .Ocont{
    padding:0px;
    margin:0px;
    font-family:'Ubuntu Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("fimage2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
  }
  body{
    font-family:'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  .cont1{
    padding-top: 1rem;
    background-color: rgb(92, 60, 2);
    height: 10dvh;
    color:white;
    position:relative;
    font-size:22px;
  }
  
  .cont2{
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Greet{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  h1{
    font-size: larger;
  }
  .Validation{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:30rem;
    height:75%;
    
  }
  .Logform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:78%;
    width:80%;
    background-color: rgb(92, 60, 2);
    padding-top: 2rem;
    color:white;
    filter:opacity(94%);
    border-radius: 22px;
    position: relative;
    
  }
  .Signform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:94%;
    width:80%;
    background-color: rgb(92, 60, 2);
    padding-top: 2rem;
    color:white;
    filter:opacity(94%);
    border-radius: 22px;
    position: relative;
    
  }
  .fplink{
    position: absolute;
    bottom:6.9rem;
    border-bottom: 1px solid white;
    font-size: 0.91rem;
  }
  .fplink:hover{
    filter: brightness(70%);
    transition: 0.5 ease-in;
  }
  .signupL:hover{
    filter: brightness(70%);
    transition: 0.45 ease-in;
  }
  
  .contInp{
    position: absolute;
    top:6.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.4rem;
    width:100%;
  }
  h2{
    color:rgb(234, 55, 55);
    font-size: 0.9rem;
    font-family: 'Raleway';
    padding-bottom:0px;
  }
  .contInts{
    position: absolute;
    top:4.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.0rem;
    width:100%;
  }
  .signupL{
    position: absolute;
    border-bottom: 1px solid white;
    bottom:1rem;
    font-size: 0.8rem;
  }
  .contInp div{
    width:63%;
  }
  .lognote{
   font-weight: 300;
   font-size:22px;
   color:white;
   position: absolute;
   top:16px;
  }
  .logsub{
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom:4rem;
    width:39%;
    height:35px;
    cursor: pointer;
    transition: 0.285s ease-out;
    
  }
  .logsub:hover{
    color:black;
    /*animation: bounce 0.2s ease-out 1s;*/ 
    background-color: rgb(128, 123, 123);
  }
  
  .input{
    text-align: center;
    border:none;
    width:100%;
    outline: none;
    border-bottom: 2px solid white;
    background-color: transparent;
  }
  .regsub{
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    position: absolute;
    bottom:3.4rem;
    width:29%;
    height:35px;
    cursor: pointer;
    transition: 0.6s ;
    margin:7px;
  }
  .regsub:hover{
    color:black;
    background-color: rgb(255, 255, 255);
  }
  .loginL{
    position: absolute;
    bottom:1rem;
    border-bottom: 1px solid white;
    transition: 0.35s ease-in;
  }
  .loginL:hover{
    filter: brightness(70%);
  }
  .genCont{
    display: flex;
    justify-content: center;
  }
  .barsCont{
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    height:50px;
    padding:5px;
    font-size: 1.45rem;
    color:white;
    justify-content: space-between;
    position:fixed;
  }
  .navsideb{
   display: none;
  
  }
  .navB{
    list-style: none;
    font-size: 1.50rem;
    display: flex;
    gap:3.9rem;
  }
  .navB li:first-child:hover{
    cursor:pointer;
    transition:.4s ease-in;
    filter: brightness(70%);
  }
  .sidesB{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.2.6rem;
    font-size: 1rem;
    height: 50dvh;
    padding-top:20px;
    z-index: 1000;
    color: white;
    cursor: pointer;
    top:0px;
    left:0px;
    position:fixed;
    width:35%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.285);
  }
  .sidesB li{
    width:100%;
    display: flex;
    justify-content: center;
    height:16%;
    
  }
  .sidesB li:hover{
    transition:.2s ease-in;
    filter: brightness(60%);
  }
  .sideB{
    display: none;
  }
  .closeMB{
    position: absolute;
    left:4%;
    top:-26px;
    font-size: 29px;
  
  }
  .HeaderMB:hover{
    transition:.2s ease-in;
    filter: brightness(70%);
  
  }
  .HeaderMB{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom:0.5rem;
    cursor:pointer;
  
  }
  .acctCont{
    height: 100dvh;
    align-items: center;
    background-image: url("darkW.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  
  }
  .aconts{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80dvh;
  }
  .personalinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding:1.3rem;
    height: fit-content;
    width:23.4rem;
    background-color: rgb(33, 9, 33);
    filter:opacity(84%);
    color:white;
    gap:1.4rem;
    border-radius: 0.85rem;
   
  }
  .personalinfo input{
    color:white;
    background-color: rgb(50, 50, 50);
    outline: none;
    height:2.4rem;
    width:100%;
    padding:0.8rem;
  }
  .personalinfo div{
    padding:0.25rem;
    color:white;
    width:80%;
  
  }
  .homebody{
    background-image: url("darkW.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
 .contInts div{
  width:85%;
 }
 .userType{
  background-color: green;
  width: 60%;
  padding:0.5rem;
  display: flex;
 
 }
  .package{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    height: 100dvh;
    padding:1.2rem;
  
  }
  .nopackage{
    color:white;
   filter: brightness(30%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border: 1px solid grey;
    height: 100%;
    width:75%;
    border-radius: 3%;
    filter:opacity(94%);
  }
  .packages{
    color:white;
    background-color: rgb(92, 60, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10;
    height: 100%;
    width:75%;
    border-radius: 10%;
    filter:opacity(94%);
    overflow: auto;
  }
  .chaveninfobtn{
    background-color: rgb(50, 50, 50);
    padding:0.6rem;
    width:100%;
    border-radius: 6px;
    transition: 0.4 ease-in;
  }
  .chaveninfobtn:hover{
    filter: brightness(80%);
    background-color: rgb(43, 43, 43);
  }
  .postsform{
    height: fit-content;
    background-color: rgb(33, 9, 33);
    width:23rem;
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 2rem;

  }
  .pcont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .pbody{
    background-image: url("darkW.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:100dvh;
    overflow: auto;
  }
  .postsCont{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: fit-content;
    width:100%;
    
  }
  .postshead{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .pcont2{
    display: flex;
    gap:1.5rem;
  }
  .foodpic{
    width:fit-content;
    margin-top:0.7rem;
    height: fit-content;
  }
  .nofoodpic{
    display: none;
  }
  .pcont2 button{
    margin-top: 1.4rem;
    padding:0.5rem;
    border-radius: 0.7rem;
  }
  .caption{
    width:100%;
    padding:0.7rem;
    height:3rem;
    color:black;
    
  }
  .nopro{
    display: none;
  }
  .yespro{
    border:none;
    width:30%;
    height:25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .cancpbtn{
    background-color: rgb(172, 24, 24);
  }
  .uploadpbtn{
    background-color: rgb(12, 71, 12);
  }
  .histCont{
    background-image: url("darkW.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100dvh;
  }
  .post1{
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    width:23rem;
    background-color: rgb(33, 9, 33);
    filter: opacity(85%);
    border-radius: 2rem;
    height: fit-content;
    z-index: 0;
  }
  .post1 h1{
    font-size: 0.87rem;
  }
  .post1 h2{
    color: rgb(157, 149, 149);
  }
  .post1 span{
    background-color: rgb(50, 50, 50);
    padding: 0.78rem;
    height: fit-content;
  }
  .commentsbtndiv{
    font-size: 0.93rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width:100%;
   
  }
  .commentsbtndiv button{
    background-color: rgb(50, 32, 49);
    padding:0.6rem;
    width:59%;
    cursor: pointer;
    transition:0.24s ease-out;
    border-radius: 2rem;
  }
  .commentsbtndiv button:hover{
    filter: brightness(170%);

  }

}